@charset "UTF-8";

*{
	margin:0;
	padding:0;
	border:0;
}

body{
	background-color:#ffffff;
	color:#333;
	font-family: 'Rubik', sans-serif;
	/*font-family: 'Bitter', sans-serif;*/
	font-size: 20px;
}

a, a:visited {
	color: #f13a59;
	text-decoration: none;
}

p {
	margin-bottom: 20px!important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 50px 0px 50px 0px;
	font-family: 'Old Standard TT', serif;
	font-size: 48px;
}

/*hr {*/
	/*border-color: rgb(243, 128, 148);*/
	/*width: 70%;*/
	/*display: block;*/
	/*margin-right: 15%;*/
	/*margin-left: 15%;*/
	/*margin-top: 0px;*/
	/*margin-bottom: 50px;*/
/*}*/

.row {
	margin-top: 25px;
	margin-bottom: 25px;
}

#top{
	height:25px;
}

p {
	margin-bottom: 15px;
}

/* --- images ------------- */
#logo{
	margin-top:15%;
	text-decoration:none;
}

/* text logo */
.pyladies-logo {
	height: 63px;
	width: 133px;
}

@media (max-width: 400px) {
	.pyladies-logo {
		display: none;
	}
}

/* Big pyladies script logo */

#floating-logo {
	position: absolute;
	display: block;
	width: 275px;
	height: 125px;
	top: 30%;
	left: 50%;
	margin-left: -136px;
}

@media (min-width: 500px) {
	#floating-logo  {
		width: 400px;
		height: 170px;
		top: 25%;
		left: 50%;
		margin-left: -200px;
	}
}

@media (min-width: 750px) {
	#floating-logo  {
		width: 500px;
		height: 250px;
		top: 30%;
		left: 50%;
		margin-left: -250px;
	}
}

#logoimage{
	width:27px;
	padding-right:10px;
	float:left;
}

#logotitle{
	font-family:'Josefin Sans', Helvetica, sans-serif;
	font-weight: bold;
	font-size:305%;
}

#logotitle a{
	color:#2d2d2d;
	text-decoration:none;
}

.geek {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-top: -15px;
	padding: 0px 15px 0px 15px;
}

.pygotham {
	width: 100%;
	margin-bottom: 50px;
}

/* --- navbar ------------- */
nav.navbar {
    background-color: #2B2D42;
	color: #8D99AE;
}

.nav-item:hover {
	cursor: pointer;
}

h1,h2,h3,h4 {
	font-size:36px;
}

.navbar a {
	font-size: 16px;
}

.section {
	padding-top:25px;
	padding-bottom:25px;
}

.row {
	min-height: 500px;
	padding-bottom: 50px;
}

/* hr lines */

.hr-squiggle {
	width: auto;
	height: 25px;
	margin-top: -35px;
	margin-bottom: 25px;
}

.thick-line {
	display: block;
	color: black;
	border-width: 5px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.pink {
	background-color: pink;
	border-top: 5px solid #ffdeb4;
	border-bottom: 5px solid #ffdeb4;
}

.skyline {
	background-image: url('images/skyline.jpg');
	height: 450px;
	background-size:cover;
}

@media (min-width: 750px) {
	.skyline {
		height: 600px;
	}
}

@media (min-width: 1824px) {
	.skyline {
		height: 750px;
	}
}

#upcomingMeetupsList ul li {
	margin-bottom: 20px;
}

.meetup_group_icon {
	float:left;
	margin-right: 20px;
}

/* --- footer ------------- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: #f13a59;
  color: white;
  text-align: center;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #07244f;
}

.small-geek {
	background-image: url('./images/pylady_geek.png');
	background-size: contain;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 400px) {
	.small-geek {
		display: none;
	}
}
