@charset "UTF-8";

*{
	margin:0;
	padding:0;
	border:0;
}

body{
	background-color:#ffffff;
	color:#333;
	font-size: 18px;
	font-family: 'Lato';
}

a, a:visited {
	color: rgb(243, 128, 148);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 32px;
	margin: 50px 50px;
}

.row {
	margin-top: 25px;
	margin-bottom: 25px;
}

#top{
	height:25px;
}

/* --- images ------------- */
#logo{
	margin-top:15%;
	text-decoration:none;
}

/* text logo, rename */
.pyladies-logo {
	height: 63px;
	width: 133px;
}

@media (max-width: 400px) {
	.pyladies-logo {
		display: none;
	}
}

#floating-logo {
	position: absolute;
	display: block;
	width: 275px;
	height: 125px;
	top: 25%;
	left: 50%;
	margin-left: -136px;
}

@media (min-width: 500px) {
	#floating-logo  {
		width: 400px;
		height: 170px;
		top: 25%;
		left: 50%;
		margin-left: -200px;
	}
}

@media (min-width: 750px) {
	#floating-logo  {
		width: 500px;
		height: 250px;
		top: 30%;
		left: 50%;
		margin-left: -250px;
	}
}

#logoimage{
	width:27px;
	padding-right:10px;
	float:left;
}

#logotitle{
	/*float:left;*/
	font-family:'Josefin Sans', Helvetica, sans-serif;
	font-weight: bold;
	font-size:305%;
}

#logotitle a{
	color:#2d2d2d;
	text-decoration:none;
}

.geek {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-top: -15px;
	padding: 0px 15px 0px 15px;
}

/* --- navbar ------------- */
nav.navbar {
    background-color: #2B2D42;
	color: #8D99AE;
}

.nav-item:hover {
	cursor: pointer;
}

h1,h2,h3,h4 {
	font-size:36px;
}

.section {
	padding-top:25px;
	padding-bottom:25px;
}

.skyline {
	background-image: url('images/skyline.jpg');
	height: 450px;
	background-size:cover;
}

@media (min-width: 750px) {
	.skyline {
		height: 550px;
	}
}

@media (min-width: 1824px) {
	.skyline {
		height: 750px;
	}
}

#upcomingMeetupsList ul li {
	margin-bottom: 20px;
}

.meetup_group_icon {
	float:left;
	margin-right: 20px;
}

/* --- footer ------------- */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 10px 10px;
  background-color: #f13a59;
  color: white;
  text-align: center;
}